<!-- https://image.tmdb.org/t/p/w500/ -->

<!-- slider container -->
<div class="slider">
  <!-- slides containing each movies -->
  <div class="slide">
    <!-- slide containing movie bgs -->
    <div class="slide-bg">
      <img src="https://image.tmdb.org/t/p/w500/lWqjXgut48IK5f5IRbDBAoO2Epp.jpg" alt="" />
      <!-- info about the movie -->
      <div class="slide-pane">
        <h2 class="name">The Super Mario Bros. Movie</h2>
        <div class="meta">
          <span class="rating"> <span>star</span><span class="rating-value">7.5</span> </span><span>/10</span>
          <span>463 reviews</span>
          <span>2023</span>
        </div>
      </div>
      <div class="desc">
        While working underground to fix a water main, Brooklyn plumbers—and brothers—Mario and Luigi are transported
        down a mysterious pipe and wander into a magical new world. But when the brothers are separated, Mario embarks
        on an epic quest to find Luigi
      </div>
    </div>
  </div>
</div>
